  <html>
  <head>
    <title>Express HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="gif/gif.js"></script>
         <!-- // <script src="gif/gif.worker.js"></script> -->
  </head>
  <body ng-app="MainApp">
    <div class="container-fluid" ng-controller="MainController">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              GIF Maker
            </h1>
          </div>
        </div>
      </div> <!--end of first row-->
      <div class="row">

        <div class="col-md-6">
             <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1">Topic</span>
                  <input type="text" class="form-control" placeholder="Put your topic here" aria-describedby="sizing-addon1" id="topic">
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 20px">
              <div class="col-md-12">
                <div class="form-group" data-ng-repeat="choice in choices">
                  <label for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
                  <input type="text" ng-model="choice.name" name="" placeholder="Enter another choice" id="{{choice.id}}">
                  <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add another choice</button>
                </div>
              </div>
            </div>
            <button onclick="myFunction()">Click me</button>
                <script>
                  function myFunction() {

                    var url = "";
                    var c = document.createElement("canvas");
                    c.width = 500;
                    c.height = 500;
                    var ctx = c.getContext("2d");

                    console.log(ctx);

                    var gif = new GIF({
                        workers: 1,
                        workerScript: "gif/gif.worker.js",
                        width: 500,
                        height: 500,
                        repeat:0,
                        background: "#fff"
                      });

          

                    gif.on('finished', function(blob) {                      
                      var img = document.getElementById("result");
                      img.src = URL.createObjectURL(blob);

                      // var reader = new window.FileReader();
                      // reader.readAsDataURL(blob); 
                      // reader.onloadend = function() {
                      //     var base64data = base64data + reader.result;    
                      //     $.post("/save", {"data" : base64data});            
                      //   }
                      $.post("/save", {"data" : img.src}); 
                    });
                    
                    
                    ctx.font = "30px Arial";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'middle';
      
                    var counter = 1;
                    while(true){

                      ctx.fillStyle = "#fff";
                      ctx.fillRect(0, 0, 500, 500);
                      ctx.fillStyle = "#000";
                      ctx.fillText(document.getElementById("topic").value,250,50);

                      var choiceId = "choice" + counter;
                      if(document.getElementById(choiceId)==null){
                        break;
                      }
                      else{
                        ctx.fillText(document.getElementById(choiceId).value,250,250);
                      }
                      gif.addFrame(ctx,{copy: true, delay: 50}); 
                      ctx.clearRect(0, 0, 500, 500);
                      counter++;
                    }
                    gif.render();
                  }

                </script>
        </div>

        <!-- gif renderer -->
        <div class="col-md-6">
          <img id="result"/>
        </div>

      </div><!--end of second row-->
      </div> <!--end of container-->
  </body>

  <script src="app/MainApp.js"></script>
   <script src="controller/MainController.js"></script>
  </html>